USE [master]
GO

CREATE DATABASE [PayslipManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PayslipManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PayslipManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PayslipManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PayslipManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PayslipManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PayslipManagement]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[employeeName] [nvarchar](max) NULL,
	[employeeNumber] [nvarchar](max) NULL,
	[basicSalary] [decimal](18, 0) NULL,
	[allowances] [decimal](18, 0) NULL,
	[overTime] [decimal](18, 0) NULL,
	[holidayDays] [int] NULL,
	[leaveDays] [int] NULL,
	[daysPresent] [int] NULL,
	[sss] [decimal](18, 0) NULL,
	[philHealth] [decimal](18, 0) NULL,
	[pagIbig] [decimal](18, 0) NULL,
	[payGrade] [char](10) NULL,
	[netSalary] [decimal](18, 0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
